@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) { */
  /* :root {
    --background: #0a0a0a;
    --foreground: #9a3838;
  } */
/* } */

body {
  /* color: var(--foreground);
  background-color: #e50909; */
  font-family: Arial, Helvetica, sans-serif;
}

/* .search-box{
  width: 100%;
  background: #fff;
  margin: 20px auto 0;
  border-radius: 5px; */
  /* border: solid black 1px */
/* } */

/* .search-row{
  display: flex;
  align-items: center;
  padding: 10px 20px
} */

input{
  flex: 1;
  /* height: 20px; */
  background: transparent;
  border: 0;
  outline: 0;
  /* font-size: 5px; */
  color: #333
}

/* button{
  background: transparent;
  border: 0;
  outline: 0
} */

button .fa-solid{
  width: 25px;
  color: #555;
  font-size: 13px;
  cursor: pointer
}

::placeholder{
  color: #555
}

.result-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-height: 200px; /* Limits the height and enables scrolling */
  overflow-y: auto; /* Enables scrolling if there are many suggestions */
  display: flex;
  flex-direction: column;
}

.result-box button {
  padding: 8px 12px;
  text-align: left;
  width: 100%;
  border: none;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-box button:hover {
  background-color: #f0f0f0; /* Highlight effect on hover */
}

#loading-spinner{
  position: fixed;
  top:50%;
  left:50%; 
  transform: translate(-50%, -50%)
}


/* #mypopover {
  @apply border-none p-8 rounded-2xl max-w-xs;
} */

/* #mypopover button.icon {
  @apply bg-none border-none float-right cursor-pointer ;
} */

#mypopover::backdrop {
  @apply bg-black bg-opacity-60;
}

#filterpopover::backdrop {
  @apply bg-black bg-opacity-60;
}

/* #mypopover h4 {
  @apply mt-0;
}

#mypopover p {
  @apply text-gray-600;
} */

/* #mypopover button.primary {
  @apply w-full bg-blue-600 p-3 rounded-2xl border-none text-white cursor-pointer;
} */
/* 
#mypopover button.primary:hover {
  @apply bg-blue-700;
} */
/* .navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}
.bottom-tab-label {
  font-size: 12px;
}

.search-wrapper{
  display: flex;
  flex-direction: column;
  gap:.25rem
}

.input{
  font-size: 1rem
}

.user-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 1rem
}

.card{
  border: 1px solid black;
  background-color: white;
  padding: .5rem
}

.card > .header{
  margin-bottom: .25rem
}

.card > .body{
  font-size: .8rem;
  color: #777
}

.hide{
  display: none
} */